{% extends "layouts/main.html" %}

{% block pageTitle %}
  Are you the partner – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if (data['relationshiptodeceased'] == "childofdeceased") %}
        <form class="form" action="/childofdecased-answer" method="post">
        {% endif %}

        {% if (data['relationshiptodeceased'] == "parentofdeceased") %}
        <form class="form" action="/parentofdeceased-answer" method="post">
        {% endif %}
        
        {% if (data['relationshiptodeceased'] == "crofdeceased") %}
        <form class="form" action="/crofdeceased-answer" method="post">
        {% endif %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "deceasedhavepartner",
          values: data["deceasedhavepartner"],
          fieldset: {
            legend: {
              text: "Did the person who died have a surviving partner who lived with them?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
