
registry=https://registry.npmjs.org/

# DWP private package registry
@dwp:registry=https://gitlab.com/api/v4/projects/funeral-expense-citzen/packages/npm/

# Authentication token (keep this line!)
# Replace YOUR_TOKEN below with your real token
//gitlab.com/api/v4/projects/funeral-expense-citzen/packages/npm/:_authToken=glpat-61vHSk9foxH6PVy9n3wPwm86MQp1OmIyc3o2Cw.01.121ud87kg

strict-ssl=false
cafile=/etc/ssl/cert.pem
always-auth=true
