{% extends "layouts/main.html" %}

{% block pageTitle %}
  Plans to help pay – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v3/money/armed-forces" method="post">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Did they have any life insurance policies, pensions or other plans that might help pay for the funeral?</h1>
          </legend>

          <p class="govuk-hint">
            We will contact you if we need more information.
          </p>

          {{ govukRadios({
            name: "plansfilter",
            values: data["plansfilter"],
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              },
              {
                divider: "or"
              },
              {
                value: "unsure",
                text: "Don't know"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        <h2 class="govuk-heading-m govuk-!-margin-top-7">
        Get help with your application
        </h2>

        <p class="govuk-body">
          Telephone: 0800 731 0468
          <br/> Welsh language: 0800 731 0453
        </p>

        <p class="govuk-body">
          Textphone: 0800 731 0317
          <br/> Welsh language: 0800 731 0456
        </p>

        <p class="govuk-body">
          If you cannot hear or speak on the phone use<br>
          <a href='https://www.relayuk.bt.com' class="govuk-link">
            Relay UK (opens in new tab)</a>: 18001 then 0800 731 0469
        </p>

        <p class="govuk-body">
          Monday to Friday, 9:30am to 3:30pm
        </p>

        <p class="govuk-body">
          <a href='https://www.gov.uk/call-charges' class="govuk-link">
            Find out about call charges (opens in new tab)
          </a>
        </p>

      </form>

    </div>
  </div>

{% endblock %}
