{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
  Email template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

    {{ govukHeader() }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        Apply for Funeral Expenses Payment
      </h2>

      <p>
        Use this reference to return to your application.
      </p>

      <div class="govuk-inset-text">
          <span class="govuk-caption-xl">
              FEJ OIY
          </span>
      </div>

      <p>
        If you need help you call the Bereavement Service helpline.
      </p>
      
      <p>
        If you do not complete and submit your application by {{ "today" | duration(30) | govukDate }}, you will need to start a new application.
      </p>

      <p class="govuk-body govuk-!-margin-bottom-6"></p>
      <hr> 
      <p class="govuk-body govuk-!-margin-bottom-4"></p>

      <p>Do not reply to this email. Replies to this email address will be automatically deleted without being read.</p>
    
    </div>
  </div>

  <p class="govuk-body govuk-!-padding-bottom-9"></p>

  {{ govukButton({
    text: "Back",
    classes: "govuk-button--secondary",
    href: "/"
  }) }}

{% endblock %}

{% block footer  %}
{% endblock %}
