{% extends "layouts/main.html" %}

{% block pageTitle %}
  Have you already started an application – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/started-application-answer-v3" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "startedapplication",
            values: data["startedapplication"],
            fieldset: {
              legend: {
                text: "Have you already started an application?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes-reference",
                text: "Yes, I have an application reference"
              },
              {
                value: "yes-no-reference",
                text: "Yes, but I do not have an application reference"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
